
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --color-red: #F03C42;
    --color-blue: #222374;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-lightblue: #CCCCCC;
    
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

header {
    background-color: var(--color-red);
    height: 100px;
    display: flex;
    color: var(--color-white);      
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

.header-container {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 37px;
}

.header-container h1 {
    font-size: 18px;
}

.header-social {
    display: flex;
    justify-content: flex-end;
}

.header-link {
    text-align: center;
    padding-left: 10px;
    padding-top: 6px;
    font-size: 14px;
}


#local {
    background-color: var(--color-blue);
    padding-bottom: 40px;
}

#local h2 {
    color: var(--color-white);
    margin-bottom: 40px;
    padding-top: 20px;
    font-size: 32px;
}

.local-fitness {
    height: 127px;
    background-color: var(--color-lightblue);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.local-fitness h3 {
    padding-bottom: 20px;
    font-size: 20px;
}

.local-fitness p {
    font-size: 14px;
}

#modalities {
    background-color: var(--color-white);
    padding-bottom: 20px;
}

#modalities h4 {
    color: var(--color-red);
    margin-bottom: 40px;
    padding-top: 20px;
    font-size: 32px;
}

.modalities-variety {
    height: 106px;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px; 
}

.modalities-variety h5 {
    font-size: 20px;
    padding-bottom: 20px;
}

.modalities-variety p {
    font-size: 14px;
}

footer {
    background-color: var(--color-black);
    height: 262px;  
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center;

    
    
    
    
}

.footer-social {
    display: flex;
    justify-content: center;
}

.footer-social-2 {
    display: flex;
    justify-content: center;
}

.footer-social img {
    padding: 0px 10px 10px 0px;
}

.footer-social-2 img {
    padding: 0px 10px 10px 0px;
}

.footer-social a {
    padding-top: 6px;
    margin-bottom: 15px;

}

.footer-social-2 a {
    padding-top: 6px;
    margin-bottom: 15px;
    margin-right: 7px;

}

.credits {
    margin-top: 36px;
}







  